@charset "ISO-8859-1";

@charset "ISO-8859-1";

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Merriweather", "sans-serif";
	font-weight: 400;
	line-height: 1.7;
	padding: 1rem;
	box-sizing: border-box;
	/* background-color: rgba(184, 191, 197, 0.8); */
	background: linear-gradient(to right, #04022bb3 0%, rgba(9, 94, 121, 0.7)
		100%, rgba(0, 212, 255, 0.7) 35%), url(images/edu-5.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 10vh 80vh;
	row-gap: 2rem;
}

header {
	display: grid;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: -1rem;
	grid-template-columns: 35% 65%;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(165deg, rgba(168, 162, 190, 0.8),
		rgba(154, 139, 170, 0.8));
}

header h3 {
	/* background-color: aqua; */
	font-size: 2.6rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	font-style: italic;
}

header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	font-family: 300;
	letter-spacing: 0.5rem;
	font-style: italic;
	color: rgba(16, 16, 17, 1);
	padding-left: 20%;
	padding-right: 10%;
	font-weight: 300;
	/* background-color: blueviolet; */
}

header ul li {
	list-style: none;
}

.links {
	text-decoration: none;
	color: rgba(50, 11, 112, 0.712);
	font-size: 2rem;
	font-weight: 500;
}

.card {
	width: 60%;
	height: auto;
	background-color: rgba(151, 160, 172, 0.9);
	margin: 0 auto;
	border-radius: 2rem;
	overflow: hidden;
	display: grid;
	align-items: center;
}

form {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	/* background-color: rgba(16, 16, 17, 1); */
}

fieldset {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	/* background-color: rgb(172, 30, 30); */
}

legend {
	font-size: 2.2rem;
	letter-spacing: 0.5rem;
	text-transform: capitalize;
	font-weight: 500;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

.input-area {
	display: flex;
	padding-left: 2rem;
	align-items: center;
	margin-bottom: 4rem;
}

label {
	font-size: 1.8rem;
	letter-spacing: 0.3rem;
	font-weight: 500;
	margin-right: 2rem;
}

textarea {
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 0.4rem;
	padding-top: 0.4rem;
	color: rgb(0, 19, 128);
}

select {
	width: 42%;
}

.button_area {
	display: grid;
	grid-template-rows: repeat(1, fr);
	grid-template-columns: 25% 25% 25% 25%;
	column-gap: 1rem;
}

input[type="submit"] {
	width: 60%;
	height: 3rem;
	border-radius: 10%;
	color: rgb(26, 24, 24);
	background-color: rgba(29, 133, 29, 0.7);
	font-size: 1.4rem;
	letter-spacing: 0.3rem;
	font-weight: 500;
}

input[type="reset"] {
	width: 60%;
	height: 3rem;
	border-radius: 10%;
	color: rgb(21, 22, 21);
	background-color: rgba(148, 59, 63, 0.7);
	font-size: 1.4rem;
	letter-spacing: 0.3rem;
	font-weight: 500;
}